<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4" style="height:70px !important; background-color:#3b5998 !important; padding-top:12px !important; justify-content:space-between; margin-bottom:10px !important;">
    <a class="navbar-brand fontsforweb_fontid_77695" href="/" style="margin-left:7%;">
        <b>Misericordia Web</b>
    </a>
</nav>