
<div class="container container2" style="max-width: 95%;">
  
  <div class="container" style="padding-top:60px; margin-bottom:50px;">
    <div class="row" style="margin-bottom:20px;">
      <p class="fontsforweb_fontid_77695" style="display:block; margin:auto; text-align:center;" id="Titulo">
        SELECCIONE UN TERRITORIO
      </p>
    </div>
    <div class="row" style="padding:60px; padding-top:40px; justify-content:space-evenly;" id="columna">

      <a href="/territorios/1/1" id="anchor">
        <button class="btn btn-danger terri fontsforweb_fontid_77695" id="btn">1</button>
      </a>

      <a href="/territorios/2/1" id="anchor">
        <button class="btn btn-danger terri fontsforweb_fontid_77695" id="btn">2</button>
      </a>

      <a href="/territorios/3/1" id="anchor">
        <button class="btn btn-danger terri fontsforweb_fontid_77695" id="btn">3</button>
      </a>

      <a href="/territorios/4/1" id="anchor">
        <button class="btn btn-danger terri fontsforweb_fontid_77695" id="btn">4</button>
      </a>

      <a href="/territorios/5/1" id="anchor">
        <button class="btn btn-danger terri fontsforweb_fontid_77695" id="btn">5</button>
      </a>

      <a href="/territorios/6/1" id="anchor">
        <button class="btn btn-danger terri fontsforweb_fontid_77695" id="btn">6</button>
      </a>

      <a href="/territorios/7/1" id="anchor">
        <button class="btn btn-danger terri fontsforweb_fontid_77695" id="btn">7</button>
      </a>

      <a href="/territorios/8/1" id="anchor">
        <button class="btn btn-danger terri fontsforweb_fontid_77695" id="btn">8</button>
      </a>

      <a href="/territorios/9/1" id="anchor">
        <button class="btn btn-danger terri fontsforweb_fontid_77695" id="btn">9</button>
      </a>

      <a href="/territorios/10/1" id="anchor">
        <button class="btn btn-danger terri fontsforweb_fontid_77695" id="btn">10</button>
      </a>

      <a href="/territorios/11/1" id="anchor">
        <button class="btn btn-danger terri fontsforweb_fontid_77695" id="btn">11</button>
      </a>

      <a href="/territorios/12/1" id="anchor">
        <button class="btn btn-danger terri fontsforweb_fontid_77695" id="btn">12</button>
      </a>

      <a href="/territorios/13/1" id="anchor">
        <button class="btn btn-danger terri fontsforweb_fontid_77695" id="btn">13</button>
      </a>

      <a href="/territorios/14/1" id="anchor">
        <button class="btn btn-danger terri fontsforweb_fontid_77695" id="btn">14</button>
      </a>

      <a href="/territorios/15/1" id="anchor">
        <button class="btn btn-danger terri fontsforweb_fontid_77695" id="btn">15</button>
      </a>

      <a href="/territorios/16/1" id="anchor">
        <button class="btn btn-danger terri fontsforweb_fontid_77695" id="btn">16</button>
      </a>

      <a href="/territorios/17/1" id="anchor">
        <button class="btn btn-danger terri fontsforweb_fontid_77695" id="btn">17</button>
      </a>

      <a href="/territorios/18/1" id="anchor">
        <button class="btn btn-danger terri fontsforweb_fontid_77695" id="btn">18</button>
      </a>

      <a href="/territorios/19/1" id="anchor">
        <button class="btn btn-danger terri fontsforweb_fontid_77695" id="btn">19</button>
      </a>

      <a href="/territorios/20/1" id="anchor">
        <button class="btn btn-danger terri fontsforweb_fontid_77695" id="btn">20</button>
      </a>

      <a href="/territorios/21/1" id="anchor">
        <button class="btn btn-danger terri fontsforweb_fontid_77695" id="btn">21</button>
      </a>

      <a href="/territorios/22/1" id="anchor">
        <button class="btn btn-danger terri fontsforweb_fontid_77695" id="btn">22</button>
      </a>

      <a href="/territorios/23/1" id="anchor">
        <button class="btn btn-danger terri fontsforweb_fontid_77695" id="btn">23</button>
      </a>

      <a href="/territorios/24/1" id="anchor">
        <button class="btn btn-danger terri fontsforweb_fontid_77695" id="btn">24</button>
      </a>

      <a href="/territorios/25/1" id="anchor">
        <button class="btn btn-danger terri fontsforweb_fontid_77695" id="btn">25</button>
      </a>

      <a href="/territorios/26/1" id="anchor">
        <button class="btn btn-danger terri fontsforweb_fontid_77695" id="btn">26</button>
      </a>

      <a href="/territorios/27/1" id="anchor">
        <button class="btn btn-danger terri fontsforweb_fontid_77695" id="btn">27</button>
      </a>

      <a href="/territorios/28/1" id="anchor">
        <button class="btn btn-danger terri fontsforweb_fontid_77695" id="btn">28</button>
      </a>

      <a href="/territorios/29/1" id="anchor">
        <button class="btn btn-danger terri fontsforweb_fontid_77695" id="btn">29</button>
      </a>

      <a href="/territorios/30/1" id="anchor">
        <button class="btn btn-danger terri fontsforweb_fontid_77695" id="btn">30</button>
      </a>

      <a href="/territorios/31/1" id="anchor">
        <button class="btn btn-danger terri fontsforweb_fontid_77695" id="btn">31</button>
      </a>

      <a href="/territorios/32/1" id="anchor">
        <button class="btn btn-danger terri fontsforweb_fontid_77695" id="btn">32</button>
      </a>

      <a href="/territorios/33/1" id="anchor">
        <button class="btn btn-danger terri fontsforweb_fontid_77695" id="btn">33</button>
      </a>

      <a href="/territorios/34/1" id="anchor">
        <button class="btn btn-danger terri fontsforweb_fontid_77695" id="btn">34</button>
      </a>

      <a href="/territorios/35/1" id="anchor">
        <button class="btn btn-danger terri fontsforweb_fontid_77695" id="btn">35</button>
      </a>

      <a href="/territorios/36/1" id="anchor">
        <button class="btn btn-danger terri fontsforweb_fontid_77695" id="btn">36</button>
      </a>

      <a href="/territorios/37/1" id="anchor">
        <button class="btn btn-danger terri fontsforweb_fontid_77695" id="btn">37</button>
      </a>

      <a href="/territorios/38/1" id="anchor">
        <button class="btn btn-danger terri fontsforweb_fontid_77695" id="btn">38</button>
      </a>

      <a href="/territorios/39/1" id="anchor">
        <button class="btn btn-danger terri fontsforweb_fontid_77695" id="btn">39</button>
      </a>

      <a href="/territorios/40/1" id="anchor">
        <button class="btn btn-danger terri fontsforweb_fontid_77695" id="btn">40</button>
      </a>

      <a href="/territorios/41/1" id="anchor">
        <button class="btn btn-danger terri fontsforweb_fontid_77695" id="btn">41</button>
      </a>

      <a href="/territorios/42/1" id="anchor">
        <button class="btn btn-danger terri fontsforweb_fontid_77695" id="btn">42</button>
      </a>

      <a href="/territorios/43/1" id="anchor">
        <button class="btn btn-danger terri fontsforweb_fontid_77695" id="btn">43</button>
      </a>

      <a href="/territorios/44/1" id="anchor">
        <button class="btn btn-danger terri fontsforweb_fontid_77695" id="btn">44</button>
      </a>

      <a href="/territorios/45/1" id="anchor">
        <button class="btn btn-danger terri fontsforweb_fontid_77695" id="btn">45</button>
      </a>

      <a href="/territorios/46/1" id="anchor">
        <button class="btn btn-danger terri fontsforweb_fontid_77695" id="btn">46</button>
      </a>

      <a href="/territorios/47/1" id="anchor">
        <button class="btn btn-danger terri fontsforweb_fontid_77695" id="btn">47</button>
      </a>

      <a href="/territorios/48/1" id="anchor">
        <button class="btn btn-danger terri fontsforweb_fontid_77695" id="btn">48</button>
      </a>

      <a href="/territorios/49/1" id="anchor">
        <button class="btn btn-danger terri fontsforweb_fontid_77695" id="btn">49</button>
      </a>

      <a href="/territorios/50/1" id="anchor">
        <button class="btn btn-danger terri fontsforweb_fontid_77695" id="btn">50</button>
      </a>

      <a href="/territorios/51/1" id="anchor">
        <button class="btn btn-danger terri fontsforweb_fontid_77695" id="btn">51</button>
      </a>

      <a href="/territorios/52/1" id="anchor">
        <button class="btn btn-danger terri fontsforweb_fontid_77695" id="btn">52</button>
      </a>

      <a href="/territorios/53/1" id="anchor">
        <button class="btn btn-danger terri fontsforweb_fontid_77695" id="btn">53</button>
      </a>

      <a href="/territorios/54/1" id="anchor">
        <button class="btn btn-danger terri fontsforweb_fontid_77695" id="btn">54</button>
      </a>

      <a href="/territorios/55/1" id="anchor">
        <button class="btn btn-danger terri fontsforweb_fontid_77695" id="btn">55</button>
      </a>

      <a href="/territorios/56/1" id="anchor">
        <button class="btn btn-danger terri fontsforweb_fontid_77695" id="btn">56</button>
      </a>

    </div>
  </div>
</div>


<!-- <button class="btn btn-success fontsforweb_fontid_77695" id="searchBtn"
  style="height:40px; width:90%; display:block; margin:auto; background-color:#3b5998;
  border-color:black; color:white; font-size:1.2rem;"
  type="submit">
    rastrillar
</button> -->



<!-- <div class="form-group">
  <input class="form-control" type="text" name="calle" id="calle"
   style="width:90%; margin:auto;" placeholder="Calle" />
</div>
<div class="form-group">
  <input class="form-control" type="number" name="min" id="min"
   style="width:90%; margin:auto;" placeholder="Altura mínima (solo números)" />
</div>
<div class="form-group">
  <input class="form-control" type="number" name="max" id="max"
   style="width:90%; margin:auto;" placeholder="Altura máxima (solo números)" />
</div>
<div class="form-group">
  <input class="form-control" type="text" name="jurisdiccion" id="jurisdiccion"
   style="width:90%; display:block; margin:auto;" placeholder="Jurisdicción" />
</div>
<div class="form-group">
   <input class="form-control" type="number" name="cp" id="cp"
   style="width:90%; display:block; margin:auto;" placeholder="C. postal (opcional)" />
</div> -->
