
<div class="container container2" style="max-width: 95%;">
  
  <div class="container" style="padding-top:60px; margin-bottom:50px;">
    <div class="row" style="margin-bottom:20px;">
      <p class="fontsforweb_fontid_77695" style="display:block; margin:auto; text-align:center;" id="Titulo">
        SELECCIONE UN TERRITORIO
      </p>
    </div>
    <div class="row" style="padding:60px; padding-top:40px; justify-content:space-evenly;" id="columna">

      {{#each habilitados}}
        <a href="/territorios/{{habilitados}}/1/nopred" id="anchor">
          <button class="btn btn-danger terri fontsforweb_fontid_77695" id="btn">{{habilitados}}</button>
        </a>
      {{/each}}

    </div>
  </div>
</div>
